<div class="flex flex-col gap-4 p-2 justify-center items-center">
  <%= render partial: "order_card", locals: { order: @order } %>

  <% if policy(Comment).create? %>
    <%= render partial: "comments/form", locals: { commentable: @order } %>
  <% end %>

  <%= render partial: "comments/comments", locals: { commentable: @order } %>

  <%= link_to "Back", :back, { class: button_style } %>
</div>