<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear Customer <%= @customer.first_name %>,</h1>
    <p>
      Your order has failed, please try again!
    </p>
    <p>Kind regards</p>
  </body>
</html>